/* Stylesheet for Mark Elliott's professional portfolio (index.html) and resume (resume.html) */

/* Define global colors */

:root {
    --default-fontcolor: black;
    --default-bgcolor: white;
    --primary-bgcolor: #6363d0;
    --primary-fontcolor: #ffffff;
    --primary-title-bgcolor: #cee7fc;
    --work-bgcolor: #fff8d5;
}

/* Reset global defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Global styles */

/* Initial styling for iPhone 12 Pro at 390px screen width */

/* Set page to scroll to bookmarks instead of jump */
html {
    scroll-behavior: smooth;
}

/* Makes sure scroll to About, Work, or Contact do no overrun the mark */
#about, #work, #contact {
    scroll-margin-top: 75px;
  }

h1 {
    font-size: 2.5rem;
    padding: 0 10px;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h2, h3 {
    padding: 10px;
}
)

p {
    margin: 10px 10px 0 10px;
    font-family: 'Times New Roman', Times, serif;
}

/* Header/Nav/Footer Styling */

h1 a {
    text-decoration: none;
    color: var(--primary-fontcolor);
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header, #contact, nav, .contact-info {
    display: flex;
    flex-wrap: wrap;
}

header, #contact {
    justify-content: space-between;
}

header, footer {
    background-color: var(--primary-bgcolor);
    color: var(--primary-fontcolor);
}

nav {
    justify-content: flex-end;
}

nav, .contact-info { 
    align-items: center;
}

.contact-info {
    justify-content: flex-start;
}

nav a, .contact-info a {
    padding: 10px 15px;
    color: var(--primary-fontcolor);
}

/* added active state to provide feedback on mobile devices */
nav a:hover, .contact-info a:hover, nav a:active, .contact-info a:active {
    background-color: var(--primary-fontcolor);
    color: var(--primary-bgcolor);
    border-radius: 5px;
}
 
footer p {
    text-align: center;
    margin: 5px 0;
}

/* Hero Styling - Background image of Skyline Drive in Spring 2012 by Mark Elliott */

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    background-image: url(../images/PortfolioHeroBG-1.jpg);
    background-position: left top;
}

/* Style About Section */

/* Headshot styling */
.bio img {
    width: 300px;
    height: 300px;
    padding: 0 10px;
}

/* Personal brand styling */
.bio p {
    margin-top: 10px;
}

/* Style Work Section */

#work {
    background-color: var(--work-bgcolor);
}

/*
.apps, .first-app, .add-app {
    display: flex;
    flex-wrap: wrap;
}
*/
.apps {
    display: flex;
    flex-wrap: wrap;
}
.apps {
    justify-content: center;
    align-content: center;
}

.first-app, .add-app {
   /* justify-content: space-between;
    flex-wrap: wrap; */
    /* Need to set parent position to relative in order to allow child (.first-title)  to be set to absolute for overlay */
    position: relative;
}

/* Added active state for feedback on mobile devices */
.first-app a:hover, .add-app a:hover, .first-app a:active, .add-app a:active {
    opacity: 0.7;
}

.first-app img {
    width: 380px;
   }

.add-app img {
    width: 300px;
}

.first-app img, .add-app img {
    padding: 20px 10px;
}

/* Overlaying title over image */
.first-title, .add-title {
    position:absolute;
    bottom: 20px;
    color: var(--default-fontcolor);
    text-decoration: none;
    background-color: var(--primary-title-bgcolor);
}

.first-title {
    right: 0;
    width: 50%;
    padding: 15px;
    margin: 0 10px;

}

.add-title {
    left: 0;
    width: 80%;
    padding: 10px 15px;
    margin-left: 10px;
}

/* Resume styles */

/* li only applies to list of qualifications on resume */
li {
    margin: 0 20px 0 30px;
}

table {
    margin-left: 10px;
    table-layout: fixed;
    width: 350px;
}

.education p, .experience p, .certifications p {
    margin: 0 20px 20px 10px;
}

/* Styling for screens 550px to 649px  */

@media screen and (min-width: 550px) {
    .hero {
        justify-content: center;
        height: 100px;
    }

    .bio {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .first-app img {
        width: 450px;
    }

    .add-app img {
        width: 350px;
     } 
}

/* Styling for screens 650px to 799px */

@media screen and (min-width: 650px) {

    .hero {
        height: 150px;
        justify-content: center;
    }

    .first-app img {
        width: 600px;
    }
    
    .add-app img {
        width: 300px;
     }

     nav a, .contact-info a {
        font-size: 1.1em;
        padding: 10px 20px;
    }

    table {
        margin-left: 20px;
        table-layout: fixed;
        width: 550px;
    }   
}

/* Styling for screens 800px to 949px */

@media screen and (min-width: 800px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2rem;
    }

    .hero {
        height: 200px;
        justify-content: center;
    }

    #about {
        display: flex;
        justify-content: start;
        align-items: stretch;
        margin: 20px 0;
    }

    #about h3,  #work h3{
        display: inline-block;
        text-align: right;
        border-right: 4px solid black;
        width: 120px;
    }

    .bio {
        justify-content: start;
    }

    .bio p {
        display: inline-block;
        width: 350px;
        margin: 0 10px;
    }

    #work {
        display: flex;
        justify-content: start;
        align-items: stretch;
        margin: 20px 0;
    }

    #work h3 {
        padding: 10px 10px 10px 30px;
    }

    .first-app img {
        width: 600px;
    }
    
    .add-app img {
        width: 300px;
     }

    nav a, .contact-info a {
        font-size: 1.3em;
        padding: 10px 20px;
    }    
}

/* Styling for screens over 950px */

@media screen and (min-width: 950px) {

    body {
        width: 1000px;
        margin: 0 auto;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #about h3, #work h3 {
        width: 140px;
    }
    
    .bio p {
        display: inline-block;
        width: 500px;
        font-size: 1.2em;
    }

    .first-app img {
        width: 800px;
    }
    
    .add-app img {
        width: 400px;
    }

    nav a, .contact-info a {
         font-size: 1.5em;
         padding: 10px 25px;
    } 
}
