/* Define global colors */
:root {
    --default-fontcolor: black;
    --default-bgcolor: white;
    --primary-bgcolor: #6363d0;
    --primary-fontcolor: #ffffff;
    --primary-title-bgcolor: #cee7fc;
    --work-bgcolor: #fff8d5;
}

/* Reset global defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Global style */
h1 {
    font-size: 2.5rem;
    padding: 0 10px;
}

h2 {
    font-size: 2rem;
    padding: 5px 10px;
}

h3 {
    font-size: 1.5rem;
    padding: 10px;

}

p {
    margin: 10px 10px 0 10px;
    font-family: 'Times New Roman', Times, serif;
}

li {
    margin-left: 40px;
}

/* Header/Nav/Footer Styling */

h1 a {
    text-decoration: none;
    color: var(--primary-fontcolor);
}

header, #contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header, footer {
    background-color: var(--primary-bgcolor);
    color: var(--primary-fontcolor);
}

nav, .contact-info {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}


nav a, .contact-info a {
    padding: 5px 10px;
    color: var(--primary-fontcolor);
}

.contact-info {
    justify-content: flex-start;
}
 
footer p {
    text-align: center;
    margin: 5px 0;
}

/* Hero Styling */

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    background-image: url(../images/PortfolioHeroBG-1.jpg);
    background-position: left top;
}

/* Style About Section */
.bio img {
    width: 300px;
    padding: 0 10px;
}

.bio p {
    margin-top: 10px;
}

/* Style Work Section */
#work {
    background-color: var(--work-bgcolor);
}
.apps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.first-app, .add-app {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Need to set parent position to relative in order to allow child (.first-title)  to be set to absolute for overlay */
    position: relative;
}

.first-app img {
    width: 380px;
    padding: 20px 10px;
   }

/* Overlaying title over image */
.first-title {
    position:absolute;
    right: 0;
    bottom: 20px;
    width: 40%;
    padding: 15px;
    margin: 0 10px;
    background-color: var(--primary-title-bgcolor);
}

.add-app img {
    width: 300px;
    padding: 20px 10px;
}

.add-title {
    position:absolute;
    left: 0;
    bottom: 20px;
    width: 70%;
    padding: 10px 15px;
    margin-left: 10px;
    background-color: var(--primary-title-bgcolor);
}




